<h1 style="text-align:center">Tests and coverage</h1></center>
<p style="text-align:center"><a target="_blank" href="reports/junit/report.html"><img src="tests-badge.svg"/></a>  <a target="_blank" href="reports/coverage/htmlcov/index.html"> <img src="coverage-badge.svg"/></a></p>


<h1 style="text-align:center">Syntax checking</h1>
<p style="text-align:center"><a target="_blank" href="reports/flake8/source/index.html">Source <img src="flake8-badge-source.svg"/></a>  <a target="_blank" href="reports/flake8/tests/index.html">Tests <img src="flake8-badge-tests.svg"/></a></p>
